nav{
  position: absolute;
  top: 10px;
  left: 50%;
  @include transform(translate( -50%, 0%));

  a{
    margin: 0 1em;
    display: inline-block;
    color: $BG;
    font-size: em(18px);
    font-family: 'Poppins', sans-serif;

    &.on{
      font-weight: 600;
    }
  }
}
