$steps:20;

.bars{
  position: absolute;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%, -50%));
  height: 60vh;
  width: 70vw;

  .bar{
    z-index: 2;
    position: fixed;
    display: block;
    background: #fff;
    animation: glitch-effect 20s infinite step-end;

    &:before, &:after{
      position: absolute;
      content: "";
      z-index: 1;
      opacity: 0.5;
    }
    &:after{
      background: rgba(252, 0, 0, (random(100)/100));
      animation: noise 3s infinite linear alternate-reverse;
    }
    &:before{
      background: rgba(0, 252, 0, (random(100)/100));
    }
  }

  @for $i from 0 through $steps{
    $alpha: random(100)/100;

    .b#{$i}{
      left:unquote( (random(99) + 1) + '% ');
      top:unquote( (random(99) +1) + '% ');
      height: (random(1) + 1) + px;
      width: (random(10) + 2) + px;

      &:before{
        height:unquote( (random(99) + 10) + '% ');
        width:unquote( (random(99) + 10) + '% ');
        left:(random(1) + 1) + px;
        top:(random(1) + 1) + px;
      }

      &:after{
        height:unquote( (random(99) + 10) + '% ');
        width:unquote( (random(99) + 10) + '% ');
        left:(random(1) + 1) + px;
        top:(random(1) + 1) + px;
      }

    }
  }

}
