<%- include header %>
  <body>
    
  <header role="navigation">
        <%- include menu %>
  </header>
  <main role="main">

    <h1 role="heading">Casa Decorativa</h1>
    <h3 class="label" role="definition">branding</h3>

  </main>

<%- include footer %>
