/*********************************************************************
*  =Variables
*
*   Todas as variáveis globais do projeto ficam aqui.
*********************************************************************/

/*********************************************************************
*  =Grid and typograph
*********************************************************************/
$PROJECT_FONT_SIZE : 16px;
$PROJECT_BASELINE : 24px;

$GRID_COLUMN_WIDTH : 60px;
$GRID_GUTTER : 20px;
$GRID_WIDTH : (14*$GRID_COLUMN_WIDTH) + (13*$GRID_GUTTER);

/*********************************************************************
*  =Colors
*********************************************************************/
$BG : #112030;
$CL : #EFEFEF;
