// .one img{
//   mix-blend-mode: multiply;
// }

#sobre{
  text-align: center;
  overflow: hidden;

  .wrp{
    width: 98vw;
    max-width: 1900px;
    margin: 0 auto;
  }

  article{
    position: relative;
    z-index: 2;
    margin: 15vh auto 15vh;
    max-width: 640px;
    font-size: em(15px);

    h2{
      font-weight: 700;
    }
  }

}

.ones{
  position: relative;
  margin-bottom: 5vh;
  font-size: 0;

  &:after{
    position: absolute;
    left: 50.5%;
    top: -12vh;
    width: 1px;
    height: 10vh;
    background: $TR;
    content: "";
  }

}

.one{
  position: relative;
  width: 24%;
  margin: 0 2%;
  font-size: $PROJECT_FONT_SIZE;
  display: inline-block;
  vertical-align: middle;
  text-align: left;

  a{
      color: inherit
  }

  img{
    width: 100%;
    mix-blend-mode: multiply;
  }

  h3{
    position: absolute;
    margin: 0;
    bottom: ($grid-unit * 5);
    left: ($grid-unit * 5);
    font-weight: 700;
  }

  &:hover {
    img{
      animation: noise-3 1s cubic-bezier(.58,-0.21,.37,.94) infinite;
    }
  }

  &:last-child:hover{
    img{
      animation: noise-3 2s cubic-bezier(.58,-0.21,.37,.94) infinite;
    }
  }
}
