@keyframes noisew{
  $steps:10;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(120)+px,9999px,random(150)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps:5;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(170)+px,9999px,random(270)+px,0);
    }
  }
}

@keyframes noise-anim-3{
  $steps:2;

  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(1)+px,9px,random(7)+px,0);
    }
  }

}

@keyframes noise-anim{
  $steps:10;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(125)+px,9999px,random(200)+px,0);
    }
  }
}


@keyframes glitch-effect{
    $steps: 10;
    $range: 19;
    @for $i from 0 through $steps{
        #{percentage($i*(1/$steps))}{
          @include transform(skew(random($range) - $range + deg));
        }
    }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.5s infinite;
    -moz-animation: blink 0.5s infinite;
    animation: blink 0.5s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
